{% extends "home.html"%}
{% block content %}
<h1>{{ product.title }}</h1>
<p>Price: ${{ product.price }}</p>
<p>{{ product.description }}</p>

{% if product.image %}
<img src="{{ product.image.url }}" style="max-width: 300px;">
{% endif %}

<form method="post" action=".">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>


<a href="{% url 'frontend' %}"> < Back to Home</a>
<hr>

<div style="display: flex; gap: 40px; margin-top: 20px;">
    <div>
        {% if product.image %}
        <img src="{{ product.image.url }}" width="400">
        {% endif %}
    </div>

    <div>
        <h1>{{ product.title }}</h1>
        <p><strong>Vendor:</strong> {{ product.vendor.username }}</p>
        <p><strong>Category:</strong> {{ product.category.title }}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>

        <div style="margin: 20px 0;">
            <h3>Description</h3>
            {{ product.description|linebreaks }}
        </div>

        <a href="{% url 'add_to_cart' product.id %}"
           style="padding: 10px 20px; background: green; color: white; text-decoration: none; border-radius: 5px;">
            Add to Cart
        </a>
    </div>
</div>
{% endblock %}